/*Helpers*/

.nav-item{
    margin-right: 1.24rem;
}

/*index.html*/

.cat-image{
    height: 100%;
    background-image: url("https://cdn.techtitute.com/portal-blog-webp/El-papel-de-la-empresa-veterinaria-en-el-actual-contexto-social-2048x1367.jpg.webp");
    background-size:cover;
    background-position: center;
   
}

.titulo{
    font-size: 4.5rem;
    /*padding-top: 1.5rem;
    padding-bottom: 1.5rem;*/
}

.text-principal{
    text-align: center;
    font-size: 1.5rem;
    /*padding: 5px 15rem;*/
    line-height: 1.6;
}

span{
    color: rgb(250, 24, 24);
    font-style: italic;
}

.horario{
    font-size: 4.5rem;
    text-align: center;
    /*padding: 5px 15rem;*/
    line-height: 1.6;
    margin-top: 1px;
}

.button-conocenos{
    display: flex;
    justify-content: center;
}

.social{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.social-icons{
    display: flex;
    justify-content: space-between;
}
#direccion{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}

svg{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 1.5rem;
}

#link-bootsrap{
    text-decoration: none;
    color: #000;
}

#creador{
    font-weight: bold;
    font-style: italic;
    color: #000;
}

/* nosotros.html*/

#titulo-nosotros{
    font-size: 3.75rem;
}

#texto-nosotros{
    text-align: center;
    font-size: 1.25rem;
    /*padding: 5px 300px;*/
    line-height: 1.6;
}

#buttons-contact-services{
    display: flex;
    justify-content: center;
}

.button-nosotros{
    margin: 5px 20px;
}

#perro{
    width: 500px;
    height: 300px;
}

.resp-title{
    text-align: center;
}

#text-responsabilidad{
    font-size: 1.25rem;
    line-height: 1.6;
    /*padding-left: 5rem;*/ 
}

/*servicios.html*/

#text-servicios-principal{
    font-size: 25px;
    line-height: 1.6;
    /*padding: 5px 300px;*/
}

#card-group{
    line-height: 1.6;
}

#card-1{
    height: 340px;
}

/*Contacto*/

#text-contacto{
    font-size: 25px;
    line-height: 1.6;
    /*padding: 5px 300px;*/
}


#floatingTextarea{
    height: 200px;
}
